div.field > div.field--label {
  padding-bottom: 5px;
}

div.field > div.field--items {
  padding-bottom: 5px;
}

div.field > div.field--item {
  padding-bottom: 5px;
}


/* Grid Layout Two Columns */

div.layout__region--first div.field > div.field--items {
  padding-right: 10px;
}

div.layout__region--first div.field > div.field--item {
  padding-right: 10px;
}

div.layout div.layout__region--combined div.layout__region--first {
  display: grid;
  float: left;
  align-content: start;
}

div.layout div.layout__region--combined div.layout__region--first > div.field--type-string {
  display: contents;
  grid-column-start: 1;
  grid-column-end: 6;
}

/* ABOVE = INLINE - WITH LABEL! */
div.layout div.layout__region--combined div.layout__region--first > div.field--type-string.field--label-above > div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-right: 15px;
}

div.layout div.layout__region--combined div.layout__region--first > div.field--type-string.field--label-above > div.field--items {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--first > div.field--type-string.field--label-above > div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

/* NO LABEL? */
div.layout div.layout__region--combined div.layout__region--first > div.field--label-hidden  {
  display: block;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--first > div.field--type-link {
  display: contents;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--first > div.field--type-link.field--label-above > div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-right: 15px;
}

div.layout div.layout__region--combined div.layout__region--first > div.field--type-link.field--label-above > div.field--items {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--first > div.field--type-link.field--label-above > div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference {
  display: contents;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference
> div > div.field--type-entity-reference {
  display: block;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference.field--label-above > div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference.field--label-above > div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference.field--label-above > div.field--items {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}


/** inline mode for region first **/
div.layout div.layout__region--combined div.layout__region--first div[class*="field--type-text"].field--label-inline {
  display: contents;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--first div[class*="field--type-text"].field--label-inline
> div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--first div.field--label-inline
> div.field--label:after {
  content: '';
}

div.layout div.layout__region--combined div.layout__region--first div[class*="field--type-text"].field--label-inline
> div.field--item {
  display: block;
  grid-column-start: 1;
  grid-column-end: 6;
}

/** inline mode for bottom **/
div.layout div.layout__region--bottom div[class*="field--type-text"].field--label-inline {
  display: contents;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.layout div.layout__region--bottom div[class*="field--type-text"].field--label-inline
> div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.layout div.layout__region--bottom div.field--label-inline
> div.field--label:after {
  content: '';
}

div.layout div.layout__region--bottom div[class*="field--type-text"].field--label-inline
> div.field--item {
  display: block;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference div.field--item {
  display: contents;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference div.field--items > div.field--item {
  display: block;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference div.layout--onecol {
  display: contents;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference div.layout--onecol div.layout__region {
  display: contents;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference div.layout--onecol div.layout__region div.field--type-string {
  display: contents;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference div.layout--onecol div.layout__region div.field--type-string.field--label-above div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-right: 15px;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference div.layout--onecol div.layout__region div.field--type-string.field--label-above div.field--items {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference div.layout--onecol div.layout__region div.field--type-string.field--label-above div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--second {
  display: grid;
  float: left;
  align-content: start;
}

div.layout div.layout__region--combined div.layout__region--second > div.field--type-string {
  display: contents;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--second > div.field--type-string.field--label-above > div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-right: 15px;
}

div.layout div.layout__region--combined div.layout__region--second > div.field--type-string.field--label-above > div.field--items {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--second > div.field--type-string.field--label-above > div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--second > div.field--type-link {
  display: contents;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--second > div.field--type-link.field--label-above > div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-right: 15px;
}

div.layout div.layout__region--combined div.layout__region--second > div.field--type-link.field--label-above > div.field--items {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--second > div.field--type-link.field--label-above > div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--second div.field--type-entity-reference {
  display: contents;
}

div.layout div.layout__region--combined div.layout__region--second div.field--type-entity-reference > div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
}

div.layout div.layout__region--combined div.layout__region--second div.field--type-entity-reference > div.field--items {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--second div.field--type-entity-reference div.field--item {
  display: contents;
}

div.layout div.layout__region--combined div.layout__region--second div.field--type-entity-reference div.layout--onecol {
  display: contents;
}

div.layout div.layout__region--combined div.layout__region--second div.field--type-entity-reference div.layout--onecol div.layout__region {
  display: contents;
}

div.layout div.layout__region--combined div.layout__region--second div.field--type-entity-reference div.layout--onecol div.layout__region div.field--type-string {
  display: contents;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--second div.field--type-entity-reference div.layout--onecol div.layout__region div.field--type-string.field--label-above div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-right: 15px;
}

div.layout div.layout__region--combined div.layout__region--second div.field--type-entity-reference div.layout--onecol div.layout__region div.field--type-string.field--label-above div.field--items {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--combined div.layout__region--second div.field--type-entity-reference div.layout--onecol div.layout__region div.field--type-string.field--label-above div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--bottom {
  display: grid;
  float: left;
}

div.layout div.layout__region--bottom div.field {
  display: contents;
  grid-column-start: 1;
  grid-column-end: 6;
  padding-bottom: 10px;
}

div.layout div.layout__region--bottom div.field.field--label-hidden p {
  display: block;
  grid-column-start: 1;
  grid-column-end: 6;
  padding-bottom: 20px;
}

div.layout div.layout__region--bottom div.field.field--label-above div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-right: 10px;
}

div.layout div.layout__region--bottom div.field.field--label-above div.field--items {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--bottom div.field.field--label-above div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--top {
  display: grid;
  float: left;
  clear: both;
}

div.layout div.layout__region--top div.field {
  display: contents;
  grid-column-start: 1;
  grid-column-end: 6;
  padding-bottom: 10px;
}

div.layout div.layout__region--top div.field.field--label-hidden p {
  display: block;
  grid-column-start: 1;
  grid-column-end: 6;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.layout div.layout__region--top div.field.field--label-above div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-bottom: 10px;
  padding-right: 10px;
}

div.layout div.layout__region--top div.field.field--label-above div.field--items {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--top div.field.field--label-above div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--top div.field.field--label-above div.field--item:last-child {
  padding-bottom: 10px;
}



/* One column layout */
div.layout div.layout__region--center {
  display: grid;
  float: left;
  align-content: start;
  clear: both;
}

div.layout div.layout__region--center div.field {
  display: contents;
  grid-column-start: 1;
  grid-column-end: 6;
}

/* ABOVE = INLINE - WITH LABEL! */
div.layout div.layout__region--center div.field.field--label-above > div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-right: 15px;
}

div.layout div.layout__region--center div.field.field--label-above > div.field--items {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

div.layout div.layout__region--center div.field.field--label-above > div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
}

/* NO LABEL? */
div.layout div.layout__region--center div.field--label-hidden  {
  display: block;
  grid-column-start: 1;
  grid-column-end: 6;
}