/* General Layout */

h1.page-header {
  display: none;
}

div#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div#main main#content section.section {
  display: inherit;
  flex-basis: 100%;
}

div#main main#content section.section > div {
  display: inherit;
  flex-basis: 100%;
}

div#sidebar-first {
  width: 250px;
  margin-right: 50px;
  margin-top: 10px;
}

div#sidebar-first h2.block-title {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 2rem;
}

div#sidebar-second {
  width: 250px;
  margin-left: 50px;
  margin-top: 35px;
}

div#sidebar-second h2.block-title {
  margin-top: 10px;
  padding-top: 0px;
  font-size: 2rem;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

div#sidebar-second section.views-element-container h2.block-title {
  font-size: initial;
  font-family: corpos-b;
}

div#sidebar-second ul {
  list-style-type: none;
  padding-left: 15px;
  text-indent: -10px;
}

div#sidebar-second section.views-element-container div.views-field ul li div.field--label {
  display: none;
}

main#content div.region-content div.field--label {
  font-weight: initial;
  font-family: corpos-b;
}

div.layout__region--combined {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 1;
  flex-wrap: wrap;
}

div.layout__region--combined div.layout__region--first {
  flex-basis: 47%;
  display: block;
}

div.layout__region--combined div.layout__region--second {
  flex-basis: 47%;
  display: block;
}

div.layout__region--bottom {
  margin-top: 10px;
}

div.layout__region--bottom div.field {
  margin-top: 10px;
}

div.layout__region--title {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.layout__region--title div.field {
  font-size: 2rem;
}

/* General Layout mobil */

@media (max-width: 499px) {
  div.layout__region--combined div.layout__region--first {
    flex-basis: 100%;
  }
  div.layout__region--combined div.layout__region--second {
    flex-basis: 100%;
  }
}


/* Layout mobil 1100px */
@media (max-width: 1099px) {
   div#main {
    justify-content: flex-start;
  }
}

@media (max-width: 836px) {
  div#sidebar-first {
    margin-left: 10px;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: #f2f2f2;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

@media (max-width: 826px) {
  div#sidebar-second {
    margin-left: 10px;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: #f2f2f2;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}


/* Layout Two Column, One Sidebar, 1100px */

div.layout--twocol--1100px--one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 1;
  max-width: 800px;
}

/* div.layout--twocol--1100px--one > div.layout__region {
  flex: 0 1 100%;
}
*/


/* Layout Two Column, Two Sidebars, 1100px */

div.layout--twocol--1100px--two {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 1;
  max-width: 500px;
}


/* Layout Two Column, No Sidebar, 1100px */

div.layout--twocol--1100px--none {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 1;
  max-width: 1100px;
}


/* Layout Two Column, One Sidebar, 1100px, mobil */

@media (max-width: 1099px) {
  div.layout--twocol--1100px--one {
    margin-left: 10px;
  }
}

@media (max-width: 820px) {
  div#sidebar-first {
   margin-bottom: 10px;
  }
}


/* Layout Two Column, Two Sidebars, 1100px, mobil */

@media (max-width: 1099px) {
  div.layout--twocol--1100px--two {
    margin-left: 10px;
  }
}

@media (max-width: 820px) {
  div#sidebar-first {
   margin-bottom: 10px;
  }
}


/* Layout Two Column, No Sidebar, 1100px, mobil */

@media (max-width: 1099px) {
  div.layout--twocol--1100px--none {
    margin-left: 10px;
  }
}

/* Layout Two Column, Two Sidebars, 1500px */

div.layout--twocol--1500px--two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 1;
  max-width: 900px;
}

div.layout--1500px--none {
  max-width: 1500px;
  margin: auto;
}

div.layout--1500px--one {
  max-width: 1200px;
}

div.layout--1500px--two {
  max-width: 900px;
}

div.layout--1300px--none {
  max-width: 1300px;
  margin: auto;
}

div.layout--1300px--one {
  max-width: 1000px;
}

div.layout--1300px--two {
  max-width: 700px;
}

div.layout--1100px--none {
  max-width: 1100px;
  margin: auto;
}

div.layout--1100px--one {
  max-width: 800px;
}

div.layout--1100px--two {
  max-width: 500px;
}


div.layout--fullpx--none {
  max-width: 100%;
}

div.layout--fullpx--one {
  max-width: 100%;
}

div.layout--fullpx--two {
  max-width: 100%;
}


div.layout--990px--none {
  max-width: 990px;
  margin: auto;
}

div.layout--990px--one {
  max-width: 690px;
}

div.layout--990px--two {
  max-width: 390px;
}
