
nav.tabs:before {
  content: "\e019";
  position: absolute;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 30px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

nav.tabs {
  position: absolute;
  right: -10px;
  top: 10px;
  z-index: 0;
}

nav.tabs ul {
//  right: -40px;
  display: none;
  position: absolute;
  list-style: none;
  background-color: #f2f2f2;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover {
  color: #464646;
  cursor: default;
  background-color: #f2f2f2;
  border: none;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a {
  background-color: #f2f2f2;
  border: none;
  text-transform: UPPERCASE;
}

.nav-tabs {
  border-bottom: none;
}

nav.tabs ul li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #464646;
  width: 100%;
}

nav.tabs ul li:last-child {
  border-bottom: none;
}

nav.tabs:hover {
  background: none;
  right: 50px;
}

nav.tabs:hover ul {
  display: block;
}
