@keyframes kenburns {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }
}

/************ navigate *********/

div.region-content div.views-element-container div.view-b661085ac1552c83ff3c2b8c56b693fc div.view-filters div.form-group {
  display: block;
} 

div.region-content div.views-element-container div.view-b661085ac1552c83ff3c2b8c56b693fc div.view-filters div.bef-links {
  display: block;
}

div.region-content div.views-element-container div.view-b661085ac1552c83ff3c2b8c56b693fc div.view-filters div.form-item {
  padding-bottom: 20px;
}

div.select-wrapper:after {
  color: #e30019;
}

.views-view-grid div.views-row {
  height: auto;
  width: 100%;
  clear: initial;
}

div.region-content div.views-element-container div.view-b661085ac1552c83ff3c2b8c56b693fc div.views-view-grid {
  width: 850px;
}

div.region-content div.views-element-container div.view-b661085ac1552c83ff3c2b8c56b693fc img {
  max-width: 100%;
  height: auto;
}

div.region-content div.views-element-container div.view-b661085ac1552c83ff3c2b8c56b693fc div.view-filters {
  float: right;
  display: inline-block;
  max-width: 250px;
  height: 1100px;
}

div.region-content div.views-element-container div.view-b661085ac1552c83ff3c2b8c56b693fc div.view-filters select.form-select {
  width: 250px;
}

div.region-content div.views-element-container div.view-b661085ac1552c83ff3c2b8c56b693fc div.view-filters .form--inline .form-item {
  float:none;
}

body.path-wisski div.region-content div#block-halfpastthreegrain-page-title {
  display: none;
  position: absolute;
#  top: 30px;
  left: 17px;
#  left: 98px;
#  max-width: 55%;
  height: 45px;
  overflow: hidden;
#  top: 234px;
#  left: 234px;
}

h1.page-title {
  font-size: 1.357em;
}

div.region-content {
  position: relative;
}

div.field--name-b1e79a5add37ba54b227018e5a41c5f8 div.field__item {
  display:inline-block;
  padding-left: 0px;
}

div.field--name-b1e79a5add37ba54b227018e5a41c5f8 div.field__item:first-child {
#  padding-left: 0.5em;
}

div.field--name-b1e79a5add37ba54b227018e5a41c5f8 div.field__item:after {
  content: ',';
  display:inline-block;

}

div.field--name-b1e79a5add37ba54b227018e5a41c5f8 div.field__item:last-child:after {
  content: '';
  display:inline-block;

}


div.bef-link-active a {
  color: black !important;
}

.bef-exposed-form .form--inline div.form-item-wisski-path-main__130 > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bef-exposed-form .form--inline div.form-item-wisski-path-main__130 > div > div {
  display: inline-block;
}

.bef-exposed-form .form--inline div.form-item-wisski-path-main__130 {
  float: none; 
}

.bef-exposed-form .form--inline div.form-item-wisski-path-main__181 > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bef-exposed-form .form--inline div.form-item-wisski-path-main__181 > div > div {
  display: inline-block;
}

div#block-halfpastthreegrain-breadcrumbs {
  z-index: 10;
}

.bef-exposed-form .form--inline div.form-item-wisski-path-main__181 {
  float: none; 
}


div.view-b661085ac1552c83ff3c2b8c56b693fc div.views-field-preview-image {
  max-width: 180px;
  max-height: 200px;
  overflow: hidden;
}

div.view-b661085ac1552c83ff3c2b8c56b693fc div.views-row {
  margin-bottom: 10px;
}

div.view-b661085ac1552c83ff3c2b8c56b693fc div.views-row div.views-col div.views-field-title {
  max-width: 200px;
#  margin-right: 10px;
}

.bef-exposed-form .form--inline div.form-item-wisski-path-main__130 > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bef-exposed-form .form--inline div.form-item-wisski-path-main__130 > div > div {
  display: inline-block;
}

.bef-exposed-form .form--inline div.form-item-wisski-path-main__130 {
  float: none; 
}

.bef-exposed-form .form--inline div.form-item-wisski-path-main__181 > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bef-exposed-form .form--inline div.form-item-wisski-path-main__181 > div > div {
  display: inline-block;
}

div#block-halfpastthreegrain-breadcrumbs {
  z-index: 10;
}

.bef-exposed-form .form--inline div.form-item-wisski-path-main__181 {
  float: none; 
}


/******************* Startseite *************/

div.fade {
  opacity: initial;
  -webkit-transition: initial;
  -o-transition: initial;
  transition: initial;
}

.block-views-blockduplicate-of-startseite-1-block-1 {
  margin-bottom: 40px;
}

.block-views-blockduplicate-of-startseite-1-block-1 h2 {
  display: none;
}

.block-views-blockduplicate-of-startseite-1-block-1 div.mySlides h2 {
  display: block;
  padding: 20px;
  color: #e3001b !important;
}

.block-views-blockduplicate-of-startseite-1-block-1 div.more-link {
  padding-right: 20px;
}


.block-views-blockduplicate-of-startseite-1-block-1 > div > div.slideshow-container > div.view-content {
  display: none;
}

.block-views-blockduplicate-of-startseite-1-block-1 > div > div.slideshow-container > div.more-link {
  display: none;
}

div.mySlides div.views-row {
#  padding-left: 50px;
#  padding-right: 50px;
  margin-bottom: 0px;
#  padding-top: 50px;
#  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.block-views-blockduplicate-of-startseite-1-block-1 div.view-footer {
#  display: none;
  height: 0px;
}

.block-views-blockduplicate-of-startseite-1-block-1 div.more-link {
  position: absolute;
  font-size: 1.5em;
  right: 0px;
}

.block-views-blockduplicate-of-startseite-1-block-1 .form-group {
  margin-bottom: 0px;
}

div.mySlides div.views-row div.views-col {
  margin: 0px;
  padding: 0px;
#  padding-left: 50px;
#  padding-right: 50px;
#  margin-bottom: 10px;
#  margin-right: 10px;
  display: inline-block;
  width: 16.6%;
#  height: 400px;
  float: left;
#  border-width: 2px;
#  border-radius: 5px;
#  border-style: solid;
#  border-color: rgb(200,200,200);
}

div.mySlides div.views-row div.views-col div.views-field-preview-image {
  display: flex;
  position: relative;
  justify-content: center;
  height: 300px;
  overflow: hidden;
}

div.mySlides div.views-row div.views-col div.views-field-preview-image img {
  height: 300%;
  position: absolute;
  top: -80%;
  left: -40%;
#  width: 600px;
  max-width: none;
#  width: auto;
  animation: kenburns 40s infinite;
}

div.mySlides div.views-row div.views-col div.views-field-title:hover {
  display: block;
}

div.mySlides div.views-row div.views-col:hover div.views-field-title {
  display: block;
}

div.mySlides div.views-row div.views-col {
  position: relative;
}

div.mySlides div.views-row div.views-col div.views-field-title {
  display: none;
  bottom: 0px;
  position: absolute;
#  height: 90px;
#  padding-top: 110px;
#  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 20;
  width: 100%;
  text-align: center;
  padding: 10px 30px 10px 30px;
  background-color: #464646;
  background-color: rgba(242, 242, 242, 0.6);
}

div.mySlides div.views-row div.views-col div.views-field-title a:hover, div.mySlides div.views-row div.views-col div.views-field-title a:focus {
    color: #464646;
    text-decoration: underline;
}

div.mySlides div.view-header h2 {
    position: absolute;
    z-index: 1;
    background-color: white;
#    border: 2px  red;
    width: 800px;
    display: flex;
    transform: rotate(25deg);
    font-size: xx-large;
    justify-content: center;
    top: 45%;
    left: 28%;
    opacity: 0.6;
    text-transform: uppercase;
}

div.slideshow-container {
  background: #464646;

}

div.field--name-fcd9c8af4f943070510633f1e1dedace > div.field__item {
  padding-bottom: 10px;
}


div.field--label-hidden > div.field__item {
  grid-column-start: 1;
  grid-column-end: 6;
}

.dotties {
    display: block;
    width: 100px;
    padding-top: 8px;
    margin-right: auto;
    margin-left: auto;
    z-index: 10;
    position: relative;
    top: 0px;

}

/** Institutionen **/

div#main main#content div.view-institutionen div.view-content div.views-col {
  text-align: center;
  padding: 20px;
}

div#main main#content div.view-institutionen div.view-filters div.form-item {
  width: 100%;
}

div#main main#content div.view-institutionen button {
  display: none;
}

/** Personen **/
div#main main#content div.view-bd9732aeea5784666b76e1e59038cade div.view-content div.views-col {
  text-align: center;
  padding: 20px;
}

div#main main#content div.view-bd9732aeea5784666b76e1e59038cade div.view-filters div.form-item {
  width: 100%;
}

div#main main#content div.view-bd9732aeea5784666b76e1e59038cade button {
  display: none;
}